{
  "presets": [
    "env",
    "react",
    "airbnb"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    ["module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "containers": "./src/containers",
          "redux-modules": "./src/redux-modules",
          "routes": "./src/routes",
          "less": "./src/less"
        }
      }
    ]
  ]
}
 