{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-es2015-modules-commonjs",
    ["module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./components",
          "containers": "./containers",
          "redux-modules": "./redux-modules",
          "less": "./less"
        }
      }
    ]
  ]
}
