{
  "presets": [
    "env",
    "react",
    "airbnb"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-es2015-modules-commonjs",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    ["module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./components",
          "containers": "./containers",
          "redux-modules": "./redux-modules",
          "less": "./less"
        }
      }
    ]
  ]
}
 